/* ----------- ELEMENT SELECTORS  ----------- */

body {
    margin: 0;
    padding: 0;
    background-color: #4C7C54; /* earth green */
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    margin-top: 40px;
}

/* ----------- ID SELECTORS  ----------- */

#navbar {
    background-color: #3B6141;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#gallery {
    margin-top: 40px;
}

/* ----------- CLASS SELECTORS  ----------- */

.nav-link {
    color: #F1F5E6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #CDEAC0;
}

.gallery-img {
    width: 250px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}

/* ----------- LAYOUT + EXTRA ----------- */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.gallery-img:hover {
    transform: scale(1.05);
}

section {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}
